<h1>Seja Bem Vindo</h1>

<%=@meu_nome %>
<ul>
<li><%= link_to "Tipos", kinds_path %></li>
<li><%= link_to "Contatos", contacts_path %></li>
<li><%= link_to "Endereços", addresses_path %></li>
<li><%= link_to "Telefones", phones_path %></li>
<li><%= link_to "dashboard", dash_path %></li>
</ul>